<h1 class="h1">Medicines</h1>
				
<br>
<br>	

<% @medicines.each do |medicine| %>
	<div class="col-md-4 col-md-offset-0 purple">

		<button type="button"  data-toggle="modal" data-target="#myModal" class="button" >
  				<p align="center" class="p"><%= medicine.name %></p>
  			<a href="/medicines/<%= medicine.id%>">
				<%= image_tag medicine.medicine_img.url(:medicine_index) , class: "med" %>
			</a>

		</button>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
				    <div class="modal-content">

					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel"><%= medicine.name %></h4>
					      </div>

					      <div class="modal-body">
					        <%= medicine.description %>
					      </div>

					      <div class="modal-footer">

					      </div>
				    </div>
			  </div>
		</div>
	</div>
<% end %>





<!-- Modal -->

  
	

<p><%= link_to "Back", medicines_path %></p>



